%playback-controls-primary {
	padding: 0.75rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.play {
		padding: calc(1em - 1px);
		border: 1px solid #fff;
		border-radius: 100%;
	}

	button { display: block; }
}

%playback-controls-secondary {
	display: flex;
	justify-content: space-between;
	padding: 1rem;

	.symbol-infinity {
		font-size: 2em;
		line-height: 0.5em;
		vertical-align: middle;
		font-family: monospace;
		margin-top: -0.125em;
	}
}