@import 'templates/training-view';

.guitar-practice {

	.training-time-summary {
		font-size: 0.85em;
		margin: 0;
		padding: 0.75rem;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.175);
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex-grow: 1;
	}

	.grow-container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

}