@import 'atoms/nav-items';

%main-nav {
	background-color: #ffe4d8;
	color: #151c1f;
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;

	h1 {
		@extend %nav-current;

		align-self: center;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	a {
		@extend %nav-active;
	}
}