@import 'atoms/buttons';
@import 'atoms/symbols';
@import 'atoms/checkboxes';
@import 'organisms/main-nav';
@import 'pages/guitar-practice';

body {
	margin: 0;
	background-image: linear-gradient(to bottom, #ff5913, #e82713 50%);
	background-repeat: no-repeat;
	color: #fff;
	font-family: sans-serif;
	font-size: 18px;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

button {
	@extend %btn-base;
}

button.btn-symbol {
	@extend %btn-symbol;
}

nav {
	@extend %main-nav;
}

input[type=checkbox] {
	@extend %switch-button;
}