@import 'atoms/buttons';
@import 'atoms/symbols';
@import 'atoms/checkboxes';
@import 'organisms/main-nav';
@import 'pages/guitar-practice';

body {
	margin: 0;
	background-image: linear-gradient(to bottom, #ff5913, #e82713 50%);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	color: #fff;
	font-family: sans-serif;
}

button {
	@extend %btn-base;
}

button.btn-symbol {
	@extend %btn-symbol;
}

nav {
	@extend %main-nav;
}

input[type=checkbox] {
	@extend %checkbox-base;
}

input[type=checkbox]:checked {
	@extend %checkbox-active;
}